body {
    margin: 0;
    height: 100vh;

}

section {
    height: 100%;
}

h1 {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: middle;
    place-items: center;
    height: 100vh;
}

.title {
    font-weight: 'Montserrat', sans-serif;
    font-weight: bold;

    font-size: 2em;
}

.info {
    font-family: 'Roboto', sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-self: center;

    margin: 2em;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    background-color: rgb(251 251 251);
    color: grey;
}
.info__p {
    line-height: 1.5;
    text-align: left;
}
.img__img {
    object-fit: cover;
    width: 100%;
    height: 20em;

    border-radius: .3em;
}

@media (min-width: 300px) {
    .info__text {
        margin-top: 1em;
        margin-bottom: 10em;
    }

}

@media (min-width: 600px) {
    .title {
        font-size: 3.5em;
    }

    .info {
        flex-direction: row;
        margin: 1em 1em 7em 1em;
    }
    .info__text {
        margin: 0em;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    .text__h2 {
        text-align: center;
    }
    .info__p {
        max-width: 45ch;
        margin: 1em;
    }
    .img__img {
        height: 12em;
        width: auto
    }

    .left {
        margin-right: 1.5em;
    }

    .right {
        margin-left: 1.5em;
    }

    .information {
        margin: 0em auto 0em auto;
        max-width: 45em;
    }
}
